<p id="notice"><%= notice %></p>

<h1>Listing Artists</h1>

<%= link_to new_artist_path do %>
  <i class="fa fa-plus-circle" aria-hidden="true"></i>New Artist
<% end %>

  <div class="row">
    <% @artists.each do |artist| %>
      <div class="col-md-6">
        <div class="well">
          <h2><%= artist.name %></h2>
          <%= link_to artist do %>
            Show
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
