<h1>Top 5</h1>

  <div class = "row">
    <% @songs.each do |song| %>
     <div class="col-md-12">
        <div class = "well">
          <h2><%= link_to song.name, song %></h2>
          <h3><%= song.artist.name %></h3>
          <p>
            <% song.rating.to_i.times do %>
              <i class="fa fa-star yellow" aria-hidden="true"></i>
            <% end %>
            <% (10 - song.rating.to_i).times do %>
              <i class="fa fa-star" aria-hidden="true"></i>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
